@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body
{
  background-color: rgb(64, 252, 236);
}

#Master
{
  display: flex;
  align-items: center;
  justify-content: center;
}

#MasterCenter
{   
  width: 480px;
  flex-shrink: 0;
}

#Title
{
  display: flex;
  height: 85px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: Roboto;
}

#Box2
{
  display: flex;
  height: 85px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Roboto;
  padding: 10px;
}

#Box3
{
  display: flex;
  height: 85px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Roboto;
  padding: 10px;
  gap: 10px;
}

#Lbar
{
  display: flex;
  height: 85px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}


#Rbar
{
  display: flex;
  height: 85px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

Button
{
  Height: 20px;
  Width: 50px;
}

#Box4
{
  display: flex;
  height: 480px;
  Width:  480px;
  font-size: 20px;
  font-family: Roboto;
  background-color: white;
  flex-direction: column;
}

.Row10
{
  display: flex;
  height: 48px;
  width: 480px;
  background-color: blueviolet;
}

.Col10
{
  height: 48px;
  width: 48px;
  background-color: whitesmoke;
}

.Row20
{
  display: flex;
  height: 24px;
  width: 480px;
  background-color: whitesmoke;
}

.Col20
{
  height: 24px;
  width: 24px;
  background-color: whitesmoke;
}

.Row30
{
  display: flex;
  height: 16px;
  width: 480px;
  background-color: whitesmoke;
}

.Col30
{
  height: 16px;
  width: 16px;
  background-color: whitesmoke;
}

.Row10,
.Col10
{
  border: 1px solid gray;
}


.Row20,
.Col20
{
  border: 1px solid gray;
}

.Row30,
.Col30
{
  border: 1px solid gray;
}