@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*
{
  border: solid white 2px;
}

body
{
  background-color: rgb(64, 252, 236);
}

#Master
{
  display: flex;
  align-items: center;
  justify-content: center;
}

#MasterCenter
{   
  width: 480px;
  flex-shrink: 0;
}

#Title
{
  display: flex;
  height: 85px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: Roboto;
}

#Box2
{
  display: flex;
  height: 85px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Roboto;
  padding: 10px;
}

#Box3
{
  display: flex;
  height: 85px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Roboto;
  padding: 10px;
  gap: 10px;
}

#Lbar
{
  display: flex;
  height: 85px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}


#Rbar
{
  display: flex;
  height: 85px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

Button
{
  Height: 20px;
  Width: 50px;
}

#Box4
{
  display: flex;
  height: 480px;
  Width:  480px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Roboto;
  background-color: white;
}

.Row
{
  display: flex;
  height: 48px;
}